@import './MailHeader.css';
@import './MailList.css';
@import './MailPreview.css';
@import './MailAdd.css';
@import './MailDetails.css';
@import './MailSideBar.css';
body {
  margin: 0px;
}

/* APP MAIN  */

.email-main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}