body {
  margin: 0px;
}

/* #9ba3b1 */

/* APP MAIN  */

/* HEADER */
.email-header {
  display: flex;
  justify-content: space-evenly;

  margin-top: 20px;
}
.email-input-search {
  padding: 10px;
}
header select {
  margin-left: 10px;
  margin-right: 10px;
}

/* MAIN */
.email-main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.email-list {
  margin-left: 20px;
  /* background: linear-gradient(to right, #141e30, #243b55); */
  /* color: whitesmoke; */
}

/* EMAIL LIST */

.email-list {
  width: 80vw;
}
.email-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px gray solid;
  padding: 10px;
  color: black;
}
.email-list li:hover {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.email-list ul {
  margin: 0;
  padding: 0;
}

/* EMAIL PREVIEW */
.unread {
  background-color: rgba(255, 255, 255, 0.902);
  font-weight: 700;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.read {
  background-color: #ded9d9;
}
.email-delete-btn {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}
.email-delete-btn:hover {
  background-color: transparent;
  background-color: blue;
  color: whitesmoke;
}
input[type='checkbox']:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* MODAL ADD*/

.email-add-section {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(242, 245, 245, 0.8);
  color: black;
  width: 60vw;
}

.email-add-section textarea {
  margin: 15px;
}
.email-add-section input {
  padding: 5px;
  width: 80%;
  margin-left: 10px;
}
.email-add-section button {
  padding: 10px;
  margin: 10px;
}
