body {
    margin: 0;
    background-color: rgb(221, 225, 226);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

button {
    border: 1px black solid;
    border-radius: .4em;
    padding: .5em;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: .2em;
}

a {
    text-decoration: none;
}